<% content_for :title, "Meals" %>

<h1>Meals</h1>

<% if notice.present? %>
  <div class="flash-notice"><%= notice %></div>
<% end %>

<div style="margin-bottom: 1rem;">
  <%= link_to "Add meal", new_meal_path, class: "btn" %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Ratings</th>
      <th>Dinner nights</th>
      <th>Last planned</th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <% last_planned = meal.meal_plan_meals.max_by { |mpm| mpm.meal_plan.week_start_date }&.meal_plan&.week_start_date %>
      <tr class="clickable-row" onclick="window.location='<%= meal_path(meal) %>'">
        <td><%= meal.title %></td>
        <td><%= truncate(meal.description, length: 80) %></td>
        <td>
          <% if meal.nutrition_rating %>
            <span class="rating-badge">N:<%= meal.nutrition_rating %></span>
          <% else %>
            <span style="color:#aaa;">–</span>
          <% end %>
          <% if meal.kids_rating %>
            <span class="rating-badge">K:<%= meal.kids_rating %></span>
          <% else %>
            <span style="color:#aaa;">–</span>
          <% end %>
          <% if meal.adult_rating %>
            <span class="rating-badge">A:<%= meal.adult_rating %></span>
          <% else %>
            <span style="color:#aaa;">–</span>
          <% end %>
        </td>
        <td><%= meal.dinner_count %></td>
        <td><%= last_planned&.strftime("%b %-d, %Y") || "Never" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
